<h1>Search a book</h1>

<form (ngSubmit)="search()">
  <label for="query">Search:</label>
  <input type="text" id="query" name="query"  [(ngModel)]="query" />
  <button>Search</button>
</form>

<div *ngIf="searchResult">
<h2>Results</h2>
  <app-book *ngFor="let book of searchResult.docs" [book]="book"></app-book>
</div>
